.contentImage {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contentImage > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }